html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#map {
  height: 100vh;
  width: 100%;
}

.map-container .map-canvas me-root me-tpc {
  font-size: inherit !important;
  padding: 8px 15px !important;
}

.map-container me-main>me-wrapper>me-parent>me-tpc {
  padding: 8px 22px !important;
}

.export-btn {
  position: fixed;
  bottom: 1.3rem;
  left: 1.3rem;
  border: 0;
  border-radius: 5px;
  padding: 0.6rem 0.9rem;
  background: #2d3748;
  color: #ffffff;
  font-family: var(--vscode-font-family);
  box-shadow: 0 1px 2px #0003;
  font-size: 15px;
  cursor: pointer;
}
